# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Udemy_React_Course\react-complete-guide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
